@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-main-text: hsl(234, 12%, 34%);
  --color-section-p: hsl(212, 6%, 44%);
  --color-supervisor: hsl(180, 62%, 55%);
  --color-team: hsl(0, 78%, 62%);
  --color-karma: hsl(34, 97%, 64%);
  --color-calculator: hsl(212, 86%, 64%);

  --font-family-default: "Poppins", sans-serif;
}

@layer components {
  .section {
    @apply flex flex-col justify-between max-w-78.5  p-8 border-t-3 shadow-lg rounded-sm;
  }

  .section-h3 {
    @apply text-[1.25rem] font-semibold mb-1.5;
  }
}

@media (min-width: 1024px) {
  .desktop-grid {
    grid-template-areas:
      "supervisor teambuilder calculator"
      "supervisor teambuilder calculator";
  }
}
